html{
    margin: 0%;
    padding: 0%;
    font-family:  Tahoma, Geneva, Verdana, sans-serif;
}
body > header{
    background-color: red;
}
body header img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 50%;
}
ul{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-left: 0%;
    padding-bottom: 15px;
    font-size: 1.5em;
}
nav a:link, nav a:visited{
    color: white;
    text-decoration: none;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
nav a:hover, nav a:active{
    color: lightgray;
    text-decoration: underline;
}
aside{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
section {
    align-items: center;
    background: white;
    padding: 10px;
    display: block;
    border: red 10px solid;
    margin: 10px auto;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    line-height: 1.4em;
    max-width: 440px;
}
section a:link, section a:visited{
    color: red;
    text-decoration: none;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
}
section a:hover, section a:active{
    color: darkred;
    text-decoration: underline;
}
h1{
    color: red;
}
aside img:hover, aside img:active{
    filter: brightness(50%);
}